@page
@model RegisterModel

@{
    ViewData["Title"] = "Registrarse";
}

<main class="form-signin w-100 m-auto">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="d-flex flex-column align-items-center">
        <img class="mb-4" src="~/tutosearchlogo.png" alt="" width="100" height="100">
        <h1 class="h3 mb-3 fw-normal">Crear una nueva cuenta</h1>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-floating w-100">
            <input asp-for="Input.Email" type="email" class="form-control" autocomplete="username" aria-required="true" id="floatingInput" placeholder="name@example.com">
            <label asp-for="Input.Email" class="form-label" for="floatingInput">Correo electrónico</label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-floating w-100">
            <input asp-for="Input.Password" type="password" class="form-control" style="border-radius: 0; margin-bottom: -1px;" autocomplete="current-password" aria-required="true" id="floatingPassword" placeholder="Password">
            <label asp-for="Input.Password" class="form-label" for="floatingPassword">Contraseña</label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-floating w-100">
            <input asp-for="Input.ConfirmPassword" type="password" class="form-control" style="margin-bottom: 10px;" autocomplete="new-password" aria-required="true" id="floatingPassword" placeholder="Password">
            <label asp-for="Input.ConfirmPassword" class="form-label" for="floatingPassword">Confirmar contraseña</label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

        <button id="registerSubmit" class="w-100 btn btn-lg btn-primary" type="submit">Registar</button>
        <p class="mt-4 mb-3 text-muted">© 2022</p>
    </form>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
